/* style.css */

/* =================================== GENERAL =================================== */
@font-face {
    font-family: 'marianne-bold';
    src: url('./fonts/marianne-bold-webfont.woff2') format('woff2'),
    url('./fonts/marianne-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'marianne-regular';
    src: url('./fonts/marianne-regular-webfont.woff2') format('woff2'),
    url('./fonts/marianne-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
    --dark-green: #6F8F72;
    --light-green: #BFD3C1;
    --brown: #504136;
    --dark-beige: #BFB48F;
    --light-beige: #F4F1DE;
}
body {
    font-family: 'marianne', 'marianne-bold', sans-serif;
}
html {
    background: white;
}
@media (prefers-color-scheme: dark) {
    html {
        background: #222;
    }
}
/* =================================== COMPOSANTS =================================== */
/*------------------------boutons------------*/
/*marron*/
.btn-brown {
    color: white;
    background-color: var(--brown);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.btn-brown:hover {
    color: white;
    background-color: var(--dark-beige); /* marron plus clair au survol */
}
.btn-brown:active {
    color: var(--dark-beige);
    background-color: var(--brown); /* marron plus foncé au clic */
}

/*vert*/
.btn-green {
    color: white;
    background-color: var(--dark-green);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.btn-green:hover {
    color: white;
    background-color: var(--light-green); /* marron plus clair au survol */
}
.btn-green:active {
    color: var(--light-green);
    background-color: var(--dark-green); /* marron plus foncé au clic */
}
/*------------------------titre------------*/
/*titre haut de page*/
.titre-page{
    font-family: marianne-bold;
    color: black;
    font-size: 4rem;
    text-align: center;
}
/*sous titre haut de page*/
.sous-titre-page{
    font-family: marianne-regular;
    color: var(--dark-beige);
    font-size: 0.9rem;
    margin-top: -25px;
    text-align: center;
}
/*------------------------cards------------*/
.card-content .value {
    color: #000;
    float: right;
}
.card-content .item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
/*blanches*/
.card-blanche {
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 0 15px 10px 15px;
    border-color: white;
}
.card-header-blanche {
    width: 5rem;
    background-color: white;
    border-radius: 60px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    border-color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);

}
.card-blanche-content .label {
    color: var(--dark-beige);
    font-weight: bold;
}
/*verte*/

/*marron*/
.card-marron {
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 0 15px 10px 15px;
    border-color: white;
}
.card-header-marron {
    width: 5rem;
    background-color: white;
    border-radius: 60px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    border-color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);

}
.card-content .label {
    color: var(--dark-beige);
    font-weight: bold;
}
/*result*/

.card-resulte{
    background-color:white;
    width: 350px;
    border-radius: 15px;
    padding: 0 15px 10px 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    text-align: center;
    flex: 1 1 0;
}
.card-header-resulte {
    width: 5rem;
    background-color: var(--dark-beige);
    border-radius: 60px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    border-color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.card-data-resulte{
    width: 100%;
    padding: 0 15px 10px 15px;
    display: flex;
    background: black;
}

/*------------------------form------------*/
/*indivudel*/
.form-individual {
    background-color: var(--dark-beige);
    border-radius: 10px;
    padding: 0 20px 0px 20px;
    width: 250px; /* possibile de max-wicth */
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.form-individual p {
    margin: 15px 0 5px 0;
    font-weight: bold;
    font-size: 1rem;
    text-align: left;
}
.form-individual select {
    width: 100%;
    padding: 4px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
/* =================================== NAVBAR =================================== */

.navbar-custom {
    background-color: var(--dark-green);
}
.navbar-custom .collapse .navbar-nav {
    font-size: 1.1rem; /* taille de la police */
}
.navbar-custom .navbar-nav .nav-link {
    color: #fff; /* blanc pour une meilleure visibilité */
}

.navbar-custom .navbar-brand img {
    height: 50px; /* Ajustez la hauteur de l'image selon vos besoins */
}

.navbar-custom .nav-link:hover {
    color: var(--brown); /* couleur plus claire au survol */
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Optionnel: Style pour les éléments du dropdown */
.navbar-custom .dropdown-menu .dropdown-item {
    color: #333; /* couleur du texte du dropdown */
}

.navbar-custom .dropdown-menu .dropdown-item:hover {
    background-color: var(--dark-green); /* même couleur que la navbar */
    color: #fff; /* couleur du texte au survol */
}

.navbar-custom .navbar-nav .nav-item {
    margin-right: 10%; /* Espacement de 5% */
}


/* Styles pour l'icône de compte */
.account-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: var(--brown); /* couleur de fond pour l'icône */
    border-radius: 50%; /* rend l'icône circulaire */
    width: 48px; /* largeur pour le conteneur de l'icône */
    height: 48px; /* hauteur pour le conteneur de l'icône */
    margin-left: 10px; /* espace entre le dernier élément de la navbar et le bouton de compte */
}
/* =================================== PAGE =================================== */
.page {
    display: grid;
    grid-template-columns: 10% auto 10%;
    margin: 15px 0;
    height: auto;
}
.page .centre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* =================================== FOOTER =================================== */
.footer {
    background-color: var(--dark-green); /* Light grey background */
    color: white;
    padding: 20px 0;
}
.footer-logo {
    max-width: 150px; /* Adjust as needed */
}
/*mathias*/


/* ===================================== Grid ===================================== */

.grid-container {
    display: grid;
    grid-template-columns: 10% auto 10%;
    padding: 10px;
    margin-bottom: 2%;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

/* ===================================== BOUTONS ===================================== */
.btn-custom {
    color: white;
    border: 1px solid white;
}

.btn-selected {
    background-color: var(--dark-green);
}

.btn-unselected {
    background-color: var(--brown);
}

.hidden {
    display: none;
}

.btn-tab-map {
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Tableau */

/* Ajoutez ces styles dans votre fichier CSS */

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

td, th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: var(--dark-green);
    color: white;
    font-size: 20px;
}
