.page{
    background-size: 0;
}
/*=================================== TITRE ===================================*/
.top{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
}
.top .bienvenue{
    color: var(--dark-beige);
    font-size: 2.5rem;
    font-family: marianne-bold;
    margin-bottom: -20px;
}
.top .nom{
    color: var(--brown);
    font-size: 4.5rem;
    font-family: marianne-bold;
}
.top .slogan {
    color: var(--dark-green);
    font-size: 1rem;
    margin-top: -30px;
    margin-bottom: 3rem;
}
.top .logos{
    background-color: white;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 20px;
}
.top .logos img{
    height: 10rem;
}
.bar{
    width: 60%;
    height: 10px;
    background-color: var(--light-green);
    border-radius: 20px;
    margin: 4rem 0;
}
/*=================================== LE PROJET ===================================*/
.presentation{
    display: flex;
    flex-direction: row;
}
.presentation .projet{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.presentation .projet .titre{
    font-size: 2.5rem;
    font-family: marianne-bold;
}

.presentation .projet .texte{
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

.presentation img{
    width: 50%;
}
/*=================================== RACINE ===================================*/
.racine {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: -100px;
    justify-content: center;
}

.racine .racine_gauche, .racine .racine_droite{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.racine .racine_centre{
    height: 1000px;
    width: 15px;
    background-color: var(--dark-beige);
    border-radius: 20px;
}
/*=================================== RACINE ===================================*/
.equipe{
    display: flex;
    flex-direction: row;
    width: 60rem;
    margin-top: 1rem;
    justify-content: space-around;

}
@media only screen and (max-width: 1000px) {
    .equipe{
        width: 40rem;
    }
}
.equipe .membre{
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align: center;

}
.equipe .membre img{
    width: 100%;
    border-radius: 50px;
}
.equipe .membre p{
    font-size: 1.4rem;
    margin-top: 10px;
    font-family: marianne-bold;
}
.equipe .membre a{
    color: black;
    margin-top: -10px;
}
.equipe .membre a:hover{
    color: var(--dark-beige);
}
.equipe .membre a:active{
    color: black;
}