.connexion{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 80%;
    margin-top: 1.8rem;
    margin-bottom: 18rem;
}
.connexion .connexion-image{
    height: 10rem;
    border-radius: 2000px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);

}
.connexion-titre{
    font-size: 2.5rem;
    font-family: marianne-bold;
    text-align: center;
}
.connexion-sous-titre{
    text-align: center;
    color: var(--brown);
    margin-top: -20px;
    margin-bottom: 1rem;
}
.connexion-form{
    display: flex;
    flex-direction: column;
    width: 22.5rem;
    background-color: rgba(255, 255, 255, 0.55);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 15px;
    padding: 15px;

}
.connexion-form .register{
    display: flex;
    flex-direction: row;
    justify-content: stretch;

}
.connexion-form .register p{
    margin-right: 0.5rem;
}
.connexion-form #btn-connexion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.connexion-form #btn-connexion button{
    width: 100%;
    margin-top: 1.5rem;
}
.connexion-form #btn-connexion #connexion-error{
    color: red;
    margin-top: 0.5rem;
    margin-bottom: -0.4rem;
}