.affichage-top{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    width: 45rem;
    margin-top: 1.5rem;
}

@media only screen and (max-width: 900px) {
    .affichage-top {
        flex-direction: column;
        align-items: center;
        height: 20rem;
    }
}
.form-individual{
    height: 80px;
}